body{
    background-color: #EEEAE7;
    font-family: Verdana, sans-serif;
    padding-bottom: 2%;
}


.imgPerfil{
    width: 4%;
    transition: transform .2s;
}

.imgPerfil:hover{
    transform: scale(1.1);
}


.imgFav{
    width: 3.8%;
    float:right;
    transition: transform .2s;
}

.imgFav:hover{

    transform: scale(1.1);
}


.imgAña{
    width: 3.5%;
    float: right;
    transition: transform .2s;
}

.imgAña:hover{
    transform: scale(1.1);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    width: 100%;
    height: 50px;
    background: #E2DEDB;
    color: #fff;

}


.arrba{
    width: 98%;
    margin: auto;

}


header .arrba{

    display: table;
    }





    

.titulo{
    width: 30%;

}

.subtitulo{

    color: black;
    font-weight: bold;
    padding-left: 5%;
    
}

.texto{

    padding: 0.5%;
    
    margin: 2%;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    font-size: 16px;
    font-weight: bold;
    width: 70%;
}






.numeracion{
    margin-left: 1%;
}

.lista{
    background-color: white;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    
    padding-top: 3%;
    padding-bottom: 1%;
    
}




.titulo2{
    color: black;
    
    font-weight: bold;
   

}


.textos3{


    border: none;
    border: 1px solid black;
    color: black;
    font-size: 16px;
    font-weight: bold;
    width: 70%;
    height: 90px;
    
}


.escoger{

    float: right;
    margin-right: 5%;
    margin-top: 2%;
}